.container-banner {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    .banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        .banner-text__description {
            font-size: 1.2rem;
            color: white;
            font-family: 'HK Guise', Helvetica, sans-serif;
            padding-top: 5vw;
            margin-bottom: 10px;
        }
        .banner-text__title {
            color: white;
            font-size: calc(20.08px + 5.62vw);
            text-align: center;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 30px;
            line-height: 0.82;
        }
        .banner-text__button {
            background-color: white;
            color: #000;
            border: 2px solid white;
            text-decoration: none;
            padding: 1.7em 4em;
            font-size: 26px;
            border-radius: 3em;
            font-family: 'HK Guise', Helvetica, sans-serif;
            margin-top: 20px;
            &:hover {
                background-color: transparent;
                color: white;
                animation: shadow 2.2s infinite forwards;
            }
        }
    }   
}


@keyframes shadow {
    0% {box-shadow: inset 0 0 0px white, 0 0 0px white;}
    50% {box-shadow: inset 0 0 24px white, 0 0 24px white;}
    100% {box-shadow: inset 0 0 0px white, 0 0 0px white;}
}