@import "variables";
.container-banner {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 6%;
    @media screen and (max-width: 790px) {
        margin-top: 8%;
    }
    @media screen and (max-width: 570px) {
        margin-top: 15%;
    }
    @media screen and (max-width: 380px) {
        margin-top: 20%;
    }
    @media screen and (max-width: 310px) {
        margin-top: 30%;
    }
    @media screen and (max-width: 250px) {
        margin-top: 50%;
    }
    .banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        @media screen and (max-width: 570px) {
            width: 95%;
        }
        .banner-text__description {
            font-size: 1.2rem;
            color: $main-font-color;
            font-family: 'HK Guise', Helvetica, sans-serif;
            padding-top: 5vw;
            margin-bottom: 10px;
            text-align: center;
        }
        .banner-text__title {
            color: $main-font-color;
            font-size: calc(20.08px + 5.62vw);
            text-align: center;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 30px;
            line-height: 0.82;
            font-family: 'HK Guise', Helvetica, sans-serif;
        }
        .banner-text__button {
            background-color: white;
            color: #000;
            border: 2px solid white;
            text-decoration: none;
            padding: 1.7em 4em;
            font-size: 26px;
            border-radius: 3em;
            font-family: 'HK Guise', Helvetica, sans-serif;
            margin-top: 20px;
            text-align: center;
            &:hover {
                background-color: transparent;
                color: white;
                animation: shadow 2.2s infinite forwards;
            }   
            @media screen and (max-width: 570px) {
                padding: 1em 4em;
            }
            @media screen and (max-width: 380px) {
                padding: 0.5em 3em;
            }
        }
    }   
    .container-banner__video {
        // max-width: 100%;
        // transform: translate(-50%, -50%);
        // transition: transform 0.3s ease-in-out;
        // width: 100%;
        // display: flex;
        // justify-content: center;
        margin: 0 auto;
        max-width: 100%;
        animation: rocking 10s linear infinite;
        // margin-top: 15px;

        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // transition: transform 1s ease-in-out;
        // position: relative;
    }
}

@keyframes rocking {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}