@import "variables";
@import "mixins";
.container-customers {
    background-color: transparent;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 6em;
    max-width: 100%;
    padding-bottom: 14em;
    @media screen and (max-width: 1070px) {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column-reverse;
        padding-bottom: 5em;

    }
    .container-customers__image {
    background-color: transparent;
    max-width: 40vw;
    object-fit: cover;
    @media screen and (max-width: 902px) {
        max-width: 100%;

    }
    }
    .customers-text {
        margin-left: 3em;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        @media screen and (max-width: 1070px) {
            width: 100%;
            margin-left: 0;

        }
        @media screen and (max-width: 902px) {
            width: 100%;
        }
        .customers-text__title {
            font-family: $main-font-family;
            font-size: calc(20.08px + 5.62vw);
            font-weight: 500;
            background-color: transparent;
            margin-bottom: 0.5em;
            line-height: 0.9;
            text-align: right;

        }
        .customers-text__button {
        @include button-black;
        margin: 0 auto;
        }
        .customers-comment {
            background-color: transparent;
            .customers-comment__text {
                background-color: transparent;
                margin-bottom: 2.2em;
                font-family: $main-font-family;
                font-size: calc(19px + 0.259vw);
                font-weight: 500;
                margin-bottom: 2.2em;
                padding-right: 120px;
                padding-top: 7vw;
                line-height: 1.5;
                @media screen and (max-width: 1070px) {
                    padding-top: 2vw;

                }
            }
            .customers-switch {
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 902px) {
                    flex-direction: column;
            
                }
                .customers-switch__customer-name {
                    background-color: transparent;
                    font-family: $main-font-family;
                    font-size: 20px;
                    font-weight: 500;
                    display: flex;
                    align-items: flex-end;
                }
                .customers-switch-block {
                    background-color: transparent;
                    width: 40%;
                    display: flex;
                    justify-content: space-between;
                    .customers-switch-block__button {
                        background-color: transparent;
                        border: none;
                        font-size: calc(24.8px + 2.46vw);
                        font-family: $main-font-family;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    .customers-switch-block__button_opacity {
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}