.container {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #000;
    width: 90%;
    z-index: 1;
    top: 0;
    position: fixed;
    @media screen and (max-width: 1025px) {
        padding-left: 20px;
        padding-right: 20px;
        width: 95%;
    }
    @media screen and (max-width: 420px) {
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
    }
    .logo {
        display: flex;
        align-items: center;
        .logo__text {
            color: white;
            font-size: 22px;
            font-family: 'HK Guise', Helvetica, sans-serif;
            font-weight: 400;
            margin-right: 11px;
            display: flex;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
            @media screen and (max-width: 1025px) {
                display: none;
            }
        }
        .logo__image {
            width: 26px;
            height: 18px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .menu-top {
        display: flex;
        align-items: center;
        width: 436px;
        justify-content: space-between;
        .menu-top__button {
            color: white;
            font-family: 'HK Guise', Helvetica, sans-serif;
            font-weight: 400;
            font-size: 20px;
            text-decoration: none;
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
            @media screen and (max-width: 1025px) {
                display: none;
            }
        }
    }
    .login-block {
        display: flex;
        width: 255px;
        justify-content: space-between;
        @media screen and (max-width: 1025px) {
            display: none;
        }
        .login-block__sign-in-button {
            color: white;
            font-family: 'HK Guise', Helvetica, sans-serif;
            font-weight: 400;
            font-size: 20px;
            text-decoration: none;
            display: flex;
            align-items: center;
            &:hover {
                text-decoration: underline;
            }
        }
        .login-block__get-started-button {
            color: #000;
            font-family: 'HK Guise', Helvetica, sans-serif;
            font-weight: 400;
            font-size: 20   px;
            text-decoration: none;
            background-color: white;
            padding: 16px 30px;
            display: flex;
            border: 2px solid white;
            border-radius: 3em;
            &:hover {
                color: white;
                background-color: transparent;
            }   
        }
    }
    .menu-top_menu {
        display: none;
        @media screen and (max-width: 1025px) {
            display: flex;
        }
    }
}